.deviceid {
  vertical-align: top;
  font-style: italic
}

.localname {
  vertical-align: top;
  font-weight: 600
}

.scanresultrowdetail {
  vertical-align: top
}

.signalstrength {
  font-size: 48px;
}
