.deviceid {
  vertical-align: top;
  font-style: italic
}

.displayname-default {
  font-weight: 300
}

.displayname-set {
  font-weight: 600
}

.scanresultrowdetail {
  vertical-align: top
}

.signalstrengthdetail {
  font-size: 192px;
}

.signalstrength {
  font-size: 48px;
}

.signalstrength svg {
  display: block;
}

.signalstrength-60 svg > #dot    { fill: #000000; }
.signalstrength-60 svg > #bar-1  { fill: #9cbeff; }
.signalstrength-60 svg > #bar-2  { fill: #9cbeff; }
.signalstrength-60 svg > #bar-3  { fill: var(--ion-color-primary); }

.signalstrength-80 svg > #dot    { fill: #000000; }
.signalstrength-80 svg > #bar-1  { fill: #9cbeff; }
.signalstrength-80 svg > #bar-2  { fill: var(--ion-color-primary); }

.signalstrength-100 svg > #dot   { fill: #000000; }
.signalstrength-100 svg > #bar-1 { fill :var(--ion-color-primary); }

