<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inspect Device
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="inspectedDevices[0]">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ inspectedDevices[0].name }}</ion-card-title>
        <ion-card-subtitle>{{ inspectedDevices[0].id }}</ion-card-subtitle>
        <div style="position: absolute; right: 10%; top: 50%; transform: translateY(-50%);">
          {{ inspectedDevices[0].rssi }}
        </div>
      </ion-card-header>
      <ion-card-content>
        <div echarts [options]="chartOption" [merge]="mergeOption" class="demo-chart"></div>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>